<%= javascript_include_tag "microposts.js" %>
<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">

      <button id="showMsg" class="btn btn-primary">Show Messages</button>
      
      <div class="home_content">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
      
    </div>
</div>