<%= javascript_include_tag "microposts.js" %>
<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Sent Messages</h3>
      <ol class="messages">
        <%= render @messages %>
      </ol>

      <h3>Received Messages</h3>   
      <ol class="messages">
        <%= render partial: 'messages/message', collection: @received_msgs %>
      </ol>

      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>